<div class="obrazovanje_page">

    <h2 class="title"> <i class="fa fa-suitcase"></i> <span>Радно искуство</span></h2>
    <hr class="line">

    <div class="obrazovanje_container">
        <div class="left_obrazovanje">

            <div class="obrazovanje_box">
                <span class="obrazovanje_datum" >2022</span>
                <p class="obrazovanje_fakultet" style="margin-top: 0.6rem;" >Републички завод за статистику</p>
                <p class="obrazovanje_smer" >Пописивач</p>
            </div>

            <div class="obrazovanje_box">
                <span class="obrazovanje_datum" >2022</span>
                <p class="obrazovanje_fakultet" style="margin-top: 0.6rem;" >Телеком Србија</p>
                <p class="obrazovanje_smer" >Студентска пракса</p>
            </div>

        </div>
    </div>

</div>