 <!--Stranica obrazovanje-->
 <div class="projekti_page">

    <h2 class="title"> <i class="fas fa-folder-open"></i> <span>Пројекти / Патент</span></h2>
    <hr class="line">

    <div class="projekti_container">

        <div class="projekti_box">

            <h3 class="projekti_naslov">Патент - ИоТ систем за процену загађења ваздуха на основу возила у
                саобраћају</h3>

            <p class="projekti_tekst">
                Систем за процену загађења у саобраћају на основу бројања саобраћаја спада у област
                интернет интелигентних уређаја, при чему се предмет проналаска односи на процену загађења у
                ваздуху на основу бројања саобраћаја.
                Решен је проблем обједињености података, почев од бројања саобраћаја, прорачуна загађености
                као и презентовања тих података у различите сврхе.
                Предлог патента предат Заводу за заштиту интелектуалне својине уз посредство факултета као
                заступника.
                Пројекат рађен у сарадњи са колегом са факултета на предмету Интернет интелигентних уређаја.
            </p>

            <div class="projekti_social">
                <a href="https://github.com/zarkooo/IoT-sistem-za-procenu-zagadjenosti-vazduha-na-osnovu-saobracaja"
                    target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.youtube.com/watch?v=ERAi2YMli4Q" target="_blank"><i
                        class="fab fa-youtube"></i></a>
            </div>

        </div>

        <div class="projekti_box">

            <h3 class="projekti_naslov">Апликација за процену загађености ваздуха у саобраћају</h3>

            <p class="projekti_tekst">
                Апликација за процену загађености ваздуха у саобраћају је наставак на претходно поменути
                патент где је задатк
                овога пута урадити апликацију помоћу програмског језика C# за бекенд део и Aнгулар
                фрејмворка за фронтенд део.
            </p>

            <!--<div class="slike_projekta_red">
                <img src="img/os tanasko rajic cacak.jpg" alt="" class="projekti_slika">
                <img src="img/os tanasko rajic cacak.jpg" alt="" class="projekti_slika">
            </div>-->

            <div class="projekti_social">
                <a href="https://github.com/zarkooo/Assessment-of-air-pollution-in-traffic-"
                    target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://raw.githubusercontent.com/cirkovicstefan/Assessment-of-air-pollution-in-traffic-/main/animacija.gif"
                    target="_blank"><i class="fa fa-globe"></i></a>
            </div>

        </div>

        <div class="projekti_box">

            <h3 class="projekti_naslov">Windows Azure</h3>

            <p class="projekti_tekst">
                Изграђен сајт за потребе предмета Веб технологије на тему Windows Azure.
                Пројекат рађен у сарадњи са колегом са факултета где је моја улога била део 
                везан за секције сервиси, дизајн, историја, приватност, о
                ауторима и израда документације за поменуте делове.
            </p>

            <div class="projekti_social">
                <a href="https://github.com/zarkooo/WebTehnologijeProjekat" target="_blank"><i
                        class="fab fa-github"></i></a>
                <a href="https://wbtazure.netlify.app/" target="_blank"><i class="fa fa-globe"></i></a>
            </div>

        </div>


        <div class="projekti_box">

            <h3 class="projekti_naslov">Рекреативни тенис</h3>

            <p class="projekti_tekst">
                Изграђен сајт Рекреативни тенис за потребе предмета Интернет програмирање. Задатак сајта је био 
                да омогући рекреативним тенисерима да заказују мечеве, врше одабир терена, термина, противника, 
                преглед тениске опреме, увид у резултате и рангирање. Пројекат је рађен у тиму који броји 10 колега са факултета
                где је моја улога била део везан за ролу клубови, до које се долази пријавом као
                радник у клубу.
            </p>

            <div class="projekti_social">
                <a href="https://github.com/zarkooo/IP-Tennis-Project" target="_blank"><i
                        class="fab fa-github"></i></a>
            </div>

        </div>


        <div class="projekti_box">

            <h3 class="projekti_naslov">Библиотека</h3>

            <p class="projekti_tekst">
                У програмском језику C# изграђена је апликација Библиотека за потребе предмета Софтверско 
                инжењерство. Моја улога је била Presentation Layer. Пројекат рађен у тиму од 3 члана.
            </p>

            <div class="projekti_social">
                <a href="https://github.com/zarkooo/LibraryProject" target="_blank"><i
                        class="fab fa-github"></i></a>
            </div>

        </div>


    </div>



</div>


