<div class="vestine_page">

    <h2 class="title"> <i class="fas fa-laptop-code"></i> <span>Вештине</span></h2>
    <hr class="line">

    <div class="vestine_container">

        <div class="left_vestine">

            <h3 class="vestine_title" > <i class="fas fa-code"></i>  Програмерске Вештине</h3>

            <div class="vestine_box">
                <span class="stepen_poznavanja" >Средње <span class="poznavanje" >познавање</span> </span>
                <p class="naziv_vestine_prve" >Html/Css/Bootstrap</p>
                <p class="naziv_vestine" >C#</p>
            </div>

            <div class="vestine_box">
                <span class="stepen_poznavanja" >Основно <span class="poznavanje" >познавање</span> </span>
                <p class="naziv_vestine_prve" >C/C++</p>
                <p class="naziv_vestine" >JavaScript</p>
                <p class="naziv_vestine" >Java</p>
                <p class="naziv_vestine" >Kotlin</p>
                <p class="naziv_vestine" >Python</p>
                <p class="naziv_vestine" >Php/MySql</p>
                <p class="naziv_vestine" >Sql</p>
                <p class="naziv_vestine" >Angular</p>
                <p class="naziv_vestine" >Linux</p>
            </div>

        </div>

        <div class="right_vestine">

            <h3 class="vestine_title" > <i class="fas fa-desktop"></i>  Програми</h3>

            <div class="vestine_box">
                <span class="stepen_poznavanja" >Напредно <span class="poznavanje" >познавање</span> </span>
                <p class="naziv_vestine_prve" >AutoCad</p>
            </div>

            <div class="vestine_box">
                <span class="stepen_poznavanja" >Средње <span class="poznavanje" >познавање</span> </span>
                <p class="naziv_vestine_prve" >Microsoft Office</p>
                <p class="naziv_vestine" >CorelDraw</p>
                <p class="naziv_vestine" >Figma</p>
                <p class="naziv_vestine" >Maze</p>
            </div>

            <div class="vestine_box">
                <span class="stepen_poznavanja" >Основно <span class="poznavanje" >познавање</span> </span>
                <p class="naziv_vestine_prve" >ArchiCad</p>
                <p class="naziv_vestine" >Autodesk Maya</p>
                <p class="naziv_vestine" >WordPress</p>
            </div>

        </div>

    </div>

</div>
