<div class="obrazovanje_page">

    <h2 class="title"> <i class="fa fa-book"></i> <span>Курсеви</span></h2>
    <hr class="line">

    <div class="obrazovanje_container">
        <div class="left_obrazovanje">

            <div class="obrazovanje_box">
                <span class="obrazovanje_datum" >Тренутно</span>
                <p class="obrazovanje_fakultet" style="margin-top: 0.6rem;" >IT Academy</p>
                <p class="obrazovanje_smer" >English course</p>
            </div>

        </div>
    </div>

</div>