<div class="interesovanja_page">

    <h2 class="title"> <i class="fas fa-star"></i> <span>Интересовања</span></h2>
    <hr class="line">

    <div class="interesovanja_container" style="margin-top: 1.5rem;">

        <div class="interesovanja_box">

            <i class="fa-brands fa-react"></i>
            <h2 class="interesovanja_naslov" >React</h2>
            <p class="interesovanja_tekst" >React фрејмворк.</p>

        </div>

        <div class="interesovanja_box">

            <i class="fa-brands fa-angular"></i>
            <h2 class="interesovanja_naslov" >Angular</h2>
            <p class="interesovanja_tekst" >Angular фрејмворк.</p>

        </div>

        <div class="interesovanja_box">

            <i class="fa-brands fa-node"></i>
            <h2 class="interesovanja_naslov" >Node.js</h2>
            <p class="interesovanja_tekst" >Backend Js окружење.</p>

        </div>

    </div>


    <div class="interesovanja_container">

        <div class="interesovanja_box">

            <i class="fa-brands fa-php"></i>
            <h2 class="interesovanja_naslov" >Php</h2>
            <p class="interesovanja_tekst" >Скрипт језик Php.</p>

        </div>

        <div class="interesovanja_box">

            <i class="fa-brands fa-java"></i>
            <h2 class="interesovanja_naslov" >Java</h2>
            <p class="interesovanja_tekst" >Програмски језик Јава.</p>

        </div>

        <div class="interesovanja_box">

            <i class="fa-solid fa-pen-ruler"></i>
            <h2 class="interesovanja_naslov" >Logo design</h2>
            <p class="interesovanja_tekst" >Дизајнирање лого-а.</p>

        </div>

        

    </div>


</div>
