<div class="main">

    <!--PreLoader-->
    <div class="loader">
        <img src="../assets/slike/logo z3 sa belim krugom.png" style="width: 170px; height: 170px;" alt="">
    </div>

    <div class="website_container">


        <!--Sidebar meni-->
        <div class="sidebar_container">

            <!--Sidebar slike-->
            <div class="image">
                <img src="../assets/slike/profile-pic (1).png" alt="Жарко Обрадовић">
                <div class="right_image_box"></div>
                <div class="left_image_box"></div>
            </div>

            <!--Sidebar Content-->
            <div class="sidebar_content">
                <h1>Жарко Обрадовић</h1>
                <p>инжењер информационих технологија</p>

                <!--Social media-->
                <div class="social_media">
                    <a href="https://github.com/zarkooo" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <br>
                </div>

            </div>

            <!--Sidebar donji meni-->
            <div class="sidebar_buttom_menu" id="sidebar_buttom_menu">

                <i class="fa fa-bars" id="sidebar_menu_icon" (click)="click()"></i>
            </div>


            <!--Sidebar Navigacija-->
            <ul class="sidebar_navigation" id="sidebar_navigation">
                <li> <a routerLink="omeni" class="active">О мени</a> </li>
                <li> <a routerLink="obrazovanje">Образовање</a> </li>
                <li> <a routerLink="kursevi">Курсеви</a> </li>
                <li> <a routerLink="radno-iskustvo">Радно искуство</a> </li>
                <li> <a routerLink="vestine">Вештине</a> </li>
                <li> <a routerLink="projekti">Пројекти / Патент</a> </li>
                <li> <a routerLink="interesovanja">Интересовања</a> </li>
                <li> <a href="https://zarko-eng.netlify.app/" style="font-size: 1.8rem;"> <i
                            class="fa-solid fa-language"></i> </a> </li>
            </ul>


        </div>


        <!--Content-->
        <div class="content_container">

            <!--Stranica About-->
            <router-outlet></router-outlet>

        </div>
    </div>

</div>