<!--Stranica About-->
<div class="about_page">

    <h2 class="title"><i class="fa fa-user" aria-hidden="true"></i> О <span>мени</span></h2>
    <hr class="line">

    <div class="about_content">

        <p class="about_text">Зовем се Жаркo Обрадовић, долазим из Чачка. Завршио сам Факултет техничких
            наука у Чачку, смер информационе технологије и тиме стекао звање инжењера информационих
            технологија. Након завршеног факултета циљ ми је да се запослим, да радим са динамичним и
            харизматичним људима, као и то да наставим са усавршавањем.</p>

    </div>

    <div class="about_profile">

        <ul class="left_profile">
            <li><span class="profile_title">Година рођења</span><span>1999</span></li>
            <li><span class="profile_title">Број година</span><span>23</span></li>
        </ul>

        <ul class="right_profile">
            <li><span class="profile_title">Град</span><span>Чачак</span></li>
            <li><span class="profile_title">Држава</span><span>Србија</span></li>
        </ul>

    </div>

    <div class="licne_osobine_div">

        <h3 class="naslov_licne_osobine" style="margin-left: 0.4rem;">Личне <span>особине</span></h3>

        <p class="about_text">Неке од особина којима бих себе описао су:</p>

        <ul>
            <li>Поштење</li>
            <li>Тачност</li>
            <li>Одговорност</li>
            <li>Упорност</li>
            <li>Комуникативност</li>
            <li>Сналажљивост</li>
        </ul>

    </div>

</div>
