<div class="obrazovanje_page">

    <h2 class="title"> <i class="fa fa-graduation-cap" ></i> <span>Образовање</span></h2>
    <hr class="line">

    <div class="obrazovanje_container">
        <div class="left_obrazovanje">

            <div class="obrazovanje_box">
                <span class="obrazovanje_datum" >Тренутно</span>
                <p class="obrazovanje_univerzitet" >Универзитет у Крагујевцу</p>
                <p class="obrazovanje_fakultet" >Факултет техничких наука у Чачку</p>
                <p class="obrazovanje_smer" >Мастер академске студије Информационе технологије</p>
            </div>

            <div class="obrazovanje_box">
                <span class="obrazovanje_datum" >10/2018 - 07/2022</span>
                <p class="obrazovanje_univerzitet" >Универзитет у Крагујевцу</p>
                <p class="obrazovanje_fakultet" >Факултет техничких наука у Чачку</p>
                <p class="obrazovanje_smer" >Основне академске студије Информационе технологије</p>
            </div>

            <div class="obrazovanje_box">
                <span class="obrazovanje_datum" >09/2014 - 06/2018</span>
                <p class="obrazovanje_srednja" >Техничка школа у Чачку</p>
                <p class="obrazovanje_smer" >смер архитектонски техничар</p>
            </div>

            <div class="obrazovanje_box">
                <span class="obrazovanje_datum" >09/2006 - 06/2014</span>
                <p class="obrazovanje_osnovna" >Основна школа Танаско Рајић Чачак</p>
            </div>

        </div>
    </div>

</div>
