
.title {
  font-size: 1.6rem;
  text-transform: uppercase;
}

/*Podesavanje boje span dela teksta*/
.title span {
  color: var(--brand-color);
}

/*Podesavanje linije ispod naslova za trenutnu stranicu*/
.line {
  width: 4rem;
  border-top: 0.25rem solid black;
  border-radius: 0.5rem;
}
.obrazovanje_page .obrazovanje_container {
    margin-top: 1.5rem;
    margin-left: 1.2rem;
    display: flex;
  }
  
  .left_obrazovanje {
    width: 100%;
    padding-left: 1rem;
    border-left: 0.2rem solid var(--brand-color);
    margin-top: 0.7rem;
  }
  
  .obrazovanje_box .obrazovanje_datum {
    font-size: 1rem;
    border: 0.1rem solid var(--brand-color);
    padding: 0.2rem;
  }
  
  .obrazovanje_box .obrazovanje_univerzitet {
    margin-top: 0.6rem;
    font-size: 1rem;
  }
  
  .obrazovanje_box .obrazovanje_fakultet {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .obrazovanje_box .obrazovanje_smer {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .obrazovanje_box .obrazovanje_srednja {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.6rem;
  }
  
  .obrazovanje_box .obrazovanje_osnovna {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.6rem;
  }
  
  /* Kraj Stranice obrazovanje------------------------------------------------------------ */

  @media screen and (max-width: 800px) {
    .obrazovanje_container {
      margin-bottom: 1.9vh;
    }
    .obrazovanje_page .obrazovanje_container {
      flex-direction: column;
    }
    .left_obrazovanje {
      border-right: none;
    }
  }